body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

  .box-card {
    min-width: 350px;
    overflow-x: hidden;

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      h2 {
        margin: 0;
      }
    }

    .page-group {
      margin-top: 20px;
      display: flex;
      justify-content: end;
    }

    .pages {
      justify-content: end;
    }
  }

  .formSelect {
    width: 100%;
  }

  .cancel-button {
    margin-right: 10px;
  }

  .pass {
    color: #67c23a;
    font-weight: bold;
  }

  .fail {
    color: #f56c6c;
    font-weight: bold;
  }

  .others {
    color: #e6a23c;
    font-weight: bold;
  }

  .download-button {
    margin: -6px 0 0 20px;
  }
}
